$hmiv-menu-bg-color: #eeeeee !default;
$hmiv-border-color: #222222 !default;
$hmiv-bg-color: #e7eaed !default;
$hmiv-hover-color: #4b5263 !default;
$hmiv-main-btn-hover-bg-color: #8e99a8 !default;
$hmiv-main-btn-color: #ffffff !default;
$hmiv-submenu-item-bg-color: #8e99a8 !default;
$hmiv-submenu-item-color: #ffffff !default;
$hmiv-submenu-item-border-color: #ffffff !default;
$hmiv-submenu-item-hover-bg-color: #e7eaed !default;
$hmiv-submenu-item-hover-color: #333333 !default;

.horizontal-menu {
    list-style-type: none;
    overflow: visible;
    text-align: right;
    position: relative;
    background: $hmiv-bg-color;
    border: 1px solid $hmiv-border-color;
    @media (min-width: $screen-sm-min) {
        border: 0;
        margin-bottom: 0;
    }
}

.horizontal-menu--nobg {
    @media (min-width: $screen-sm-min) {
        background: transparent;
        border: 0;
        border-bottom: 1px solid $hmiv-border-color;
    }
}

.horizontal-menu a {
    display: block;
    cursor: pointer;
    &:link,
    &:visited {
        color: $hmiv-submenu-item-color;
        text-decoration: none;
    }
}

.horizontal-menu > li {
    display: block;
    width: 100%;
    text-align: left;
    vertical-align: top;
    position: relative;
    @media (min-width: $screen-sm-min) {
        display: inline-block;
        width: auto;
    }
    &:last-child a {
        border-bottom: 0;
    }
}

.horizontal-menu > li > a {
    // top level
    padding: 0 0.5em;
    border-bottom: 1px solid $hmiv-border-color;
    &:after {
        content: '';
        margin: 0 0 0.1em 1em;
    }
    @media (min-width: $screen-sm-min) {
        border: 0;
        padding: 0 1em;
    }
}

.horizontal-menu > .sfHover > a {
    // top level hover
    color: $hmiv-border-color;
    &:link,
    &:hover,
    &:active,
    &:visited {
        text-decoration: none;
    }

    @media (min-width: $screen-sm-min) {
        color: $hmiv-main-btn-color;
        background: $hmiv-main-btn-hover-bg-color;
        &:link,
        &:hover,
        &:active,
        &:visited {
            text-decoration: none;
        }
    }
}

.horizontal-menu > li > ul {
    //submenu
    list-style-type: none;
    display: none;
    max-height: 222px;
    overflow-x: hidden;

    @media (min-width: $screen-sm-min) {
        position: absolute;
        border: 0;
    }
}

.horizontal-menu > li:last-child > ul {
    right: 0;
}

.horizontal-menu > li > ul a {
    white-space: nowrap;
    padding-left: 1em;
    padding-right: 1em;
    background-color: $hmiv-submenu-item-bg-color;
    min-width: 10em;
}

.horizontal-menu > li > ul {
    li {
        border-top: 1px solid $hmiv-submenu-item-border-color;
    }
    & a:hover,
    & a:active {
        background-color: $hmiv-submenu-item-hover-bg-color;
        color: $hmiv-submenu-item-hover-color;
    }
}
